<footer class="d-flex flex-column justify-content-center py-2 align-items-center">
    <p class="text-light"><em><a href="" class="text-light link-underline-light">Mattia Carcione</a></em></p>

    <p class="text-light">
        Copyright © <%= new Date().getFullYear() %> <a href="#" class="text-light link-underline-light">BooksNote</a>
    </p>
</footer>