<header id="navbar" class="p-3 mb-3 border-bottom fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <!-- NAV -->
            <nav id="nav-links">
                <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link link-body-emphasis text-light">Home</a></li>
                    <li><a href="/create" class="nav-link link-body-emphasis text-light">Add Book</a></li>
                </ul>
            </nav>
            <!-- END NAV -->

            <!-- LOGO -->
            <div id="logo" class="d-none d-md-flex align-items-center ">
                <a href="/" class="link-body-emphasis text-decoration-none text-light">
                    BooksNote
                </a>
            </div>
            <!-- END LOGO -->

            <!-- SEARCH FORM -->
            <div id="form">
                <form class="col-12 col-lg-auto d-flex" role="search" id="searchForm">
                    <input class="form-control" list="datalistOptions" id="searchInput" placeholder="Type to search..."
                        name="searchInput" aria-label="Search" type="text">

                    <!-- DROPDOWN LIST -->
                    <datalist id="datalistOptions">
                        <option id="optionValue" value="test">
                    </datalist>
                    <!-- END DROPDOWN LIST -->
                </form>
            </div>
            <!-- END SEARCH FORM -->
        </div>
    </div>
</header>